/* CSS Document */

a {
	text-decoration: none;
}

.something.something1
{
	font-size: 1.2rem;
    color: red;
}

a:hover { 
	text-decoration: underline;
	color: red;
	background-color: #CCFFCC 
}

li em   { 
	color: red; 
	font-weight: bold 
}

ul  {
	argin-left: 2cm
}

ul ul  {
	text-decoration: underline; 
	margin-left: .5cm 
}
